body {
  padding: 0;
  margin: 0;
}
header {
  background: #deffcd;
  overflow: hidden;
}
.content {
  max-width: 42em;
  padding: 0 1em;
  margin: 0 auto;
  box-sizing: border-box;
}
.counter strong {
  display: inline-block;
  min-width: 3em;
  text-align: center;
}
